header {
    width: 100%;
    height: 60px;
    background: white;
    box-shadow: 0px 0px 4px -1px rgb(0 0 0 / 63%);

    .content-header {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 8px;

        img {
            width: 48px;
        }

        h2 {
            font-size: 18px;
            font-weight: normal;
            margin: 0;
            margin-bottom: 2px;
        }

        .content-name {
            display: flex;
            align-items: center;

            p {
                font-style: italic;
                font-size: 14px;
                color: #747474;
                margin: 0;
                padding: 0 5px;
            }

            .initial-line {
                height: 1px;
                width: 8px;
                background-color: #747474;
                margin-top: 3px;
            }

            .final-line {
                height: 1px;
                width: 40px;
                background-color: #747474;
                margin-top: 3px;
            }
        }


    }


}