<app-header></app-header>

<div class="container">
    <div class="search-bar" (focusin)="searchBarFocused = true" (focusout)="searchBarFocused = false" [ngClass]="{'focused': searchBarFocused}">
        <input class="search-input" type="text" [formControl]="searchText">
        <button class="search-button">
            <img src="../../../assets/images/icon_search.png" alt="icon_search">
        </button>
    </div>

    <div class="container-cards">
        <app-card *ngFor="let card of listCard | filter: searchText.value" [card]="card" (deleteCardAction)="deleteCard($event)"></app-card>
    </div>
</div>